useDynLib("sglasso")

import(Matrix, igraph)
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "matplot", "par", "plot", "text")
importFrom("methods", "as", "new")

exportPattern("^[[:alpha:]]+")

S3method(print, sglasso)
S3method(summary, sglasso)
S3method(plot, sglasso)
S3method(print, klcv)
S3method(plot, klcv)
S3method(gplot, sglasso)
S3method(gplot, fglasso)
